<div class="mobile">
    <mat-slide-toggle [(ngModel)]="showLines" name="showLines">Show Constellation
        Lines</mat-slide-toggle>
    <div>
        <img priority [ngSrc]="'assets/' + constellation + '-b' + selectedValue + (showLines ? '-lines' : '') + '.jpg'"
            width="245" height="352">
        <p class="small">Source: <a href="https://www.stellarium-labs.com/stellarium-mobile-plus/">Stellarium</a></p>
    </div>
    <app-bortle (bortleChanged)="bortleChanged($event)"></app-bortle>
</div>

<div class="desktop">
    <div>
        <img priority [ngSrc]="'assets/' + constellation + '-b' + selectedValue + (showLines ? '-lines' : '') + '.jpg'"
            width="245" height="352">
        <p class="small">Image Source: <a href="https://www.stellarium-labs.com/stellarium-mobile-plus/">Stellarium</a>
        </p>
    </div>
    <div>
        <mat-slide-toggle [(ngModel)]="showLines" name="showLines">Show Constellation Lines</mat-slide-toggle>
        <app-bortle (bortleChanged)="bortleChanged($event)"></app-bortle>
    </div>
</div>