<div>
    <img [ngSrc]="'assets/' + constellation + '-b' + selectedValue + (showLines ? '-lines' : '') + '.jpg'" width="590"
        height="705">
</div>
<div>
    <div class="form check form-switch">
        <input type="checkbox" role="switch" [(ngModel)]="showLines" id="showLines">
        <label for="showLines">Show lines?</label>
    </div>
    <ul>
        @for (b of bortles; track b) {
        <li>
            <label [ngbTooltip]="b.description">
                <input class="form-check-input" type="radio" name="bortles" [id]="'bortles' + b.class" [value]="b.class"
                    [(ngModel)]="selectedValue" />{{ b.name }}
            </label>
        </li>
        }
        <mv-slider [(value)]="selectedValue" [min]="0" [max]="9" (keydown.arrowright)="slide(true)"
            (keydown.arrowleft)="slide(false)"></mv-slider>
    </ul>
    <div>
        <p>{{description}}</p>
    </div>
</div>