:host {
    padding-top: 10px;

    .mobile,
    .desktop {
        display: none
    }

    @media screen and (max-width: 899px) {
        div.mobile {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
    }
    
    @media screen and (min-width: 900px) {
        div.desktop {
            display: flex;
            gap: 10px;
        }
    }
}