<div class="flex">
    <select class="form-select" aria-label="Select a constellation" [(ngModel)]="selectedConstellation"
        (change)="selectionChanged()">
        @for (constellation of constellations; track constellation) {
        <option [value]="constellation.value">{{constellation.label}}</option>
        }
    </select>
    <div>
        <p>{{selectedDescription}}</p>
    </div>
</div>
<app-image [constellation]="selectedConstellation" [description]="selectedDescription">